/*.cabeçalho{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    margin: 2em 0 2em 0;
}

.cabeçalho-div{
    display: flex;
    align-items: center;
}

.cabeçalho-logo{
    padding: 0 30em 0 3em;
}

.cabeçalho-link{
    margin: 0 1em 0 1em;
    font-family: var(--font-primaria);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
}

.cabeçalho-botao{
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: 20px;
    width: 80%;
    padding: 0.5em;
}

.cabeçalho-botao:hover{
    background: var(--orange);
    color: var(--white);
}

.cabeçalho-link:hover{
    background-color: var(--orange);
    padding: 0.2em;
    border: 1px solid var(--orange);
    border-radius: 24px;
    color: var(--white);
} */



.topnav {
    overflow: hidden;
    background-color: var(--orange);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
    font-family: var(--font-primaria);
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  .topnav a.icon {
    background: var(--orange);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    color: #C59E6F;
  }
  
  .active {
    background-color: white;
    color: white;
  }

